# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# etc
*.make
*.cmake
*.ninja
*.tcl
*log
*.bin
*cache
*marks

# Build artifacts
build/**
Makefile
CMakeFiles/**
CMakeCache.txt

# Don't track the executable or installer
X11GL
*Linux.deb
*Linux.tar.gz
install_manifest.txt
_CPack_Packages

# Scratchpad
src/sample
src/scratch 

# VSCode
.vscode