# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.make
*.cmake
*.ninja
*.tcl
*log
*.bin
*cache
*marks

# Build artifacts
build/**
Makefile
CMakeFiles/**
CMakeCache.txt



# Don't track the executable
X11GL

# Scratchpad
src/sample
src/scratch 
